<!DOCTYPE html>

<html>

<head>
  <link rel="stylesheet" href="css/normalize.css" />
  <link rel="stylesheet" href="css/skeleton.css" />
  <link rel="stylesheet" href="css/font-awesome.css" />
  <link rel="stylesheet" href="css/open-sans.css" />
  <link rel="stylesheet" href="css/index.css" />
  <link rel="stylesheet" href="css/tooltipster.bundle.min.css" />

  <script src="js/cytoscape.min.js"></script>
  <script src="js/cola.js"></script>
  <script src="js/cytoscape-cola.js"></script>
  <script src="js/jquery-3.1.1.min.js"></script>
  <script src="js/tooltipster.bundle.min.js"></script>
  <script src="js/index.js"></script>

  <title>Cytoscape.js demo</title>
</head>

<body>
  <span class="fa fa-bars config-toggle" id="config-toggle"></span>
  <div id="cy" class="main">
  </div>

  <div class="tools" id="config">
    <form role="search" class="navbar-form" id="search">
      <div class="form-group">
        <input type="text" value="Matrix" placeholder="Search for Movie Title" class="form-control" name="search">
      </div>
      <button class="btn btn-default" type="submit">Search</button>
    </form>
    <h4>Data</h4>
    <label for="data" class="tooltip u-pull-left" title="Switch to a new dataset">Active dataset</label>
    <div class="u-cf"></div>
    <select class id="data">
        <option value="social.json" >Social</option>
        <option value="genes.json">Genes</option>
        <option value="movies.json">Movies Static</option>
        <option value="moviesNeo" selected>Movies Neo4J</option>
      </select>
    <h4>Style</h4>
    <label for="style" class="tooltip u-pull-left" title="Switch to a new graph stylesheet">Active stylesheet</label>
    <div class="u-cf"></div>
    <select id="style">
        <option value="plain.cycss">Plain</option>
        <option value="fancy.json" selected>Advanced</option>
        <option value="custom.cycss">Custom</option>
      </select>
    <h4>Layout</h4>
    <label for="layout" class="tooltip u-pull-left" title="Change layout">Active layout</label>
    <div class="u-cf"></div>
    <select id="layout">
        <option value="cola" selected>Force-directed</option>
        <option value="concentricCentrality">Concentric by centrality</option>
        <option value="concentricHierarchyCentrality">Hierarchy by centrality</option>
        <option value="custom">Custom</option>
      </select>
    <i id="redo-layout" class="fa fa-refresh action-icon tooltip" title="Redo layout"></i>
    <h4>Algorithms</h4>
    <label for="algorithm" class="tooltip u-pull-left" title="Run algorithm. Try running A* a few times to see distances to different nodes">
        Run algorithm
      </label>
    <div class="u-cf"></div>
    <select id="algorithm">
        <option value="none" selected>None</option>
        <option value="bfs">BFS</option>
        <option value="dfs">DFS</option>
        <option value="astar">A*</option>
        <option value="custom">Custom</option>
      </select>
    <i id="redo-algorithm" class="fa fa-refresh action-icon tooltip" title="Redo algorithm visualization"></i>
<table id="results" class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Movie</th>
                    <th>Released</th>
                    <th>Tagline</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
</body>

</html>